.tile__category,
.tile__timestamp {
  color: #6e6e73;
}
.tile__media img {
  width: 100%;
  height: auto;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1) 0ms, opacity 1s cubic-bezier(0.4, 0, 0.25, 1) 0ms;
}
.tile:hover .tile__media img {
  transform: scale(1.03);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1) 0ms, opacity 1s cubic-bezier(0.4, 0, 0.25, 1) 0ms;
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
.section-head {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-bottom: 24px;
}
.tile {
  background-color: #fff;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.tile .tile__media {
  direction: revert;
}
.tile .tile__description {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
}
.tile__media {
  position: relative;
  z-index: 0;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.tile__category {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.tile__headline {
  color: #1d1d1f;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.tile__timestamp {
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nr-cta-primary-dark {
  border-radius: 30px;
  display: inline-block;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms, border-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms, color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border: 2px solid;
  padding: 10px 24px 9px;
  border-color: #f5f5f7;
  color: #f5f5f7;
}
.section-tiles {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
}
.section-tiles .tile-item {
  position: relative;
}
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}
