//模块
.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

//标题
.section-head {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-bottom: 24px;
}

//特写下的链接
.nr-cta-primary-dark {
  border-radius: 30px;
  display: inline-block;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms,
    border-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms,
    color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border: 2px solid;
  padding: 10px 24px 9px;
  border-color: #f5f5f7;
  color: #f5f5f7;
}
